/* General styles for all types of buttons */

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.progress-button {
    position: relative;
    display: inline-block;
    padding: 0 60px;
    outline: none;
    border: none;
    background: $progressButtonBackground;
    color: $progressButtonColor;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 4;
    cursor: pointer;
    *,
    *:after,
    *::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .notransition {
        -webkit-transition: none !important;
        transition: none !important;
    }
    &[disabled],
    &.disabled {
        cursor: default;
    }
    .content {
        position: relative;
        display: block;
        &:before,
        &:after {
            position: absolute;
            right: 20px;
            color: $progressButtonIconsColor;
            font-family: $progressButtonIconFontFamily;
            opacity: 0;
            -webkit-transition: opacity 0.3s 0.3s;
            transition: opacity 0.3s 0.3s;
        }
        &:before {
            color: #fff;
            content: url("data:image/svg+xml,%3Csvg class='svg-inline--fa fa-check fa-w-16' aria-hidden='true' data-prefix='fas' data-icon='check' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' data-fa-i2svg=''%3E%3Cpath fill='white' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3E%3C/path%3E%3C/svg%3E");
        }
        &:after {
            color: #fff;
            content: url("data:image/svg+xml,%3Csvg class='svg-inline--fa fa-ban fa-w-16' aria-hidden='true' data-prefix='fas' data-icon='ban' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' data-fa-i2svg=''%3E%3Cpath fill='white' d='M256 8C119.034 8 8 119.033 8 256s111.034 248 248 248 248-111.034 248-248S392.967 8 256 8zm130.108 117.892c65.448 65.448 70 165.481 20.677 235.637L150.47 105.216c70.204-49.356 170.226-44.735 235.638 20.676zM125.892 386.108c-65.448-65.448-70-165.481-20.677-235.637L361.53 406.784c-70.203 49.356-170.226 44.736-235.638-20.676z'%3E%3C/path%3E%3C/svg%3E");
        }
    }
    &.state-success .content:before,
    &.state-error .content:after {
        opacity: 1;
    }
    .progress {
        background: $progressButtonProgressColor;
    }
    .progress-inner {
        position: absolute;
        left: 0;
        background: $progressButtonProgressInnerColor;
    }
    &-dir-horizontal {
        .progress-inner {
            top: 0;
            width: 0;
            height: 100%;
            -webkit-transition: width 0.3s, opacity 0.3s;
            transition: width 0.3s, opacity 0.3s;
        }
    }
    &-dir-vertical {
        .progress-inner {
            bottom: 0;
            width: 100%;
            height: 0;
            -webkit-transition: height 0.3s, opacity 0.3s;
            transition: height 0.3s, opacity 0.3s;
        }
    }
    /* Necessary 3d styles for buttons with perspective */
    &-perspective {
        position: relative;
        display: inline-block;
        padding: 0;
        background: transparent;
        -webkit-perspective: 900px;
        perspective: 900px;
        .content,
        .progress {
            outline: 1px solid rgba(0, 0, 0, 0);
            /* Smoothen jagged edges in FF */
        }
        .progress-wrap {
            display: block;
            -webkit-transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }
        .content {
            padding: 0 60px;
            background: $progressButtonBackground;
        }
    }
}